 html, body {
      height: 100%;
      margin: 0;
    }

    #map {
      height: 100%;
      width: 100%;
    }

    /* Painel dos botões */
    #buttons {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1000;
      background: rgba(255, 255, 255, 0.95);
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      font-family: Arial, sans-serif;
      max-width: 250px;
    }

    .btn-directions{
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 5px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: #7a1cff;
      color: white;
      font-size: 13px;
    }

    #buttons h3 {
      margin: 0 0 8px 0;
      font-size: 16px;
    }

    #buttons button {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      font-size: 15px;
    }

    #buttons button:hover {
      background-color: #0056b3;
    }

    /* Adaptar para telemóvel */
    @media (max-width: 600px) {
      #buttons {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        top: auto;
        bottom: 10px;
      }

      #buttons h3 {
        text-align: center;
        font-size: 14px;
      }

      #buttons button {
        font-size: 14px;
        padding: 8px;
      }
    }